development:
  adapter: postgresql
  host:
  username:
  password:
  database:

test:
  adapter: postgresql
  host:
  username:
  password:
  database:

production:
  adapter: postgresql
  host:
  username:
  password:
  database:
